services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - appnet

  mongodb:
    image: mongo:7.0          
    container_name: mongodb
    ports:
      - "27017:27017"           
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo-data:/data/db   
    networks:
      - appnet
    restart: unless-stopped


  nestjs:
    build:
      context: ./api-nestjs
      dockerfile: Dockerfile
    container_name: api-nestjs
    ports:
      - "8080:8080"     
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - OPENROUTER_API_KEY=${OPENROUTER_API_KEY}
      - RABBITMQ_URL=${RABBITMQ_URL}
      - BCRYPT_ROUNDS=${BCRYPT_ROUNDS}
      - MONGODB_URI=${MONGODB_URI}
      - PORT=${PORT}
    depends_on:
      - rabbitmq
      - mongodb
      - collector
    networks:
      - appnet
    restart: unless-stopped

  collector:
    build:
      context: ./collector
      dockerfile: Dockerfile
    container_name: weather_collector
    environment:
      - RABBITMQ_URL=${RABBITMQ_URL}
      - API_KEY=${API_KEY} 
    depends_on:
      - rabbitmq
    networks:
      - appnet
    restart: unless-stopped
  
  go-worker:
    build:
      context: ./go-worker
      dockerfile: Dockerfile
    container_name: go-worker
    ports:
      - "5000:5000"   
    environment:
    - RABBITMQ_URL=${RABBITMQ_URL}  
    - API_URL=${API_URL}
    depends_on:
      - rabbitmq
      - nestjs
    networks:
      - appnet
    restart: unless-stopped

networks:
  appnet:
    driver: bridge

volumes:
  mongo-data:  