version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - appnet

  collector:
    build:
      context: ./collector
      dockerfile: Dockerfile
    container_name: weather_collector
    environment:
      - RABBITMQ_URL=${RABBITMQ_URL}
      - API_KEY=${API_KEY} 
    depends_on:
      - rabbitmq
    networks:
      - appnet
    restart: unless-stopped
  
  go-worker:
    build:
      context: ./go-worker
      dockerfile: Dockerfile
    container_name: go-worker
    environment:
    - RABBITMQ_URL=${RABBITMQ_URL}  
    - API_URL=${API_URL}
    depends_on:
      - rabbitmq
    networks:
      - appnet
    restart: unless-stopped

networks:
  appnet:
    driver: bridge