version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - appnet

  collector:
    build:
      context: ./collector
      dockerfile: Dockerfile
    container_name: weather_collector
    env_file:
      - ./collector/.env
    environment:
      RABBITMQ_URL: amqp://guest:guest@rabbitmq/
    depends_on:
      - rabbitmq
    networks:
      - appnet
    restart: unless-stopped

networks:
  appnet:
    driver: bridge